version: '3.8'

services:
  web:
    build: .
    command: gunicorn SocialApp.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/SocialApp/staticfiles
      - media_volume:/app/SocialApp/media
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    networks:
      - social_network

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    networks:
      - social_network

volumes:
  postgres_data:
  static_volume:
  media_volume:


networks:
  social_network:
    driver: bridge
